@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youTube: hsl(348, 97%, 39%);
  --slider: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --very-dark-blue-text: hsl(230, 17%, 14%);
  --very-dark-blue: hsl(230, 17%, 14%);
  --light-grayish-blue: hsl(227, 47%, 96%);
  --toggle: hsl(230, 22%, 74%);
  --desaturated-blue: hsl(228, 34%, 66%);
  --card-bg: hsl(228, 28%, 20%);
  --header-bg: hsl(232, 19%, 15%);
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --light: #40486d;
  --light-hover: #cdced5;
}

body {
  font-family: Inter;
  background-color: var(--very-dark-blue);
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem 10rem 5rem;
  background: var(--header-bg);
  line-height: 40px;
  margin: 0;
}

.Logo h1 {
  font-size: 33px;
  color: #ffffff;
  opacity: 1;
}

.Logo p {
  font-weight: bold;
  padding: 0.8rem 0;
  color: var(--desaturated-blue);
}

.theme-switcher {
  display: flex;
}
.theme-switcher h3 {
  margin: 2rem 0rem;
  font-size: 16px;
  color: var(--desaturated-blue);
}

.theme-switcher label {
  margin: 2rem 1.5rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 35px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--slider);
  transition: 0.4s;
  border-radius: 30px;
}

.toggle-switch input {
  display: none;
}

.slider::before {
  position: absolute;
  content: " ";
  height: 25px;
  width: 25px;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
  background-color: var(--very-dark-blue);
  transition: 0.6s;
  -webkit-transition: 0.6s;
}

input:checked + .slider {
  background: var(--desaturated-blue);
}

input:checked + .slider:before {
  background-color: var(--light-grayish-blue);
  transition: 0.6s;
  transform: translateX(40px);
}

@media (max-width: 980px) {
  .header {
    flex-direction: column;
    padding: 1.5rem 5rem 7rem 5rem;
  }

  .Logo {
    border-bottom: 1px solid var(--toggle);
    padding: 1rem 0;
    opacity: 0.85;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 1.5rem 1.5rem 7rem 1.5rem;
  }
}

@media (max-width: 500px) {
  .Logo h1 {
    font-size: 28px;
  }
}

.social {
  margin-top: -100px;
  padding: 0 5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
  z-index: 100;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile p {
  color: var(--desaturated-blue);
  font-weight: bold;
  font-size: 15px;
}

.followers h1 {
  font-size: 50px;
  line-height: 60px;
}
.followers p {
  color: var(--desaturated-blue);
  font-weight: 200;
  letter-spacing: 3px;
  padding-bottom: 2rem;
}

.social-card {
  background-color: var(--card-bg);
  padding: 2rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.profile {
  padding-bottom: 2rem;
}

.stat-increase {
  color: var(--lime-green);
}

.stat-decrease {
  color: var(--bright-red);
}

.card1,
.card2 {
  border-top: 5px solid var(--facebook);
  border-radius: 8px;
}

.card3 {
  border-radius: 8px;
  position: relative;
}

.instagram::before {
  content: " ";
  position: absolute;
  top: 1px;
  left: -1px;
  width: 100%;
  height: 5px;
  background: var(--instagram);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card4 {
  border-top: 5px solid var(--youTube);
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 980px) {
  .social {
    padding: 0 5rem;
  }
}

@media (max-width: 780px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .social {
    padding: 0 1.5rem;
  }
}

.overview {
  padding: 1.5rem 5rem;
}

.overview-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.overview h1 {
  padding: 1rem 0;
}

.overview-card p {
  color: var(--light-grayish-blue);
}

.stat-view {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 0.8rem 1.5rem 0.4rem 1.5rem;
}
.stat-view div {
  display: flex;
  justify-content: space-between;
}

.top-status p {
  color: var(--desaturated-blue);
  font-weight: bold;
}
.top-status {
  padding-top: 0.6rem;
}

p.green {
  color: var(--lime-green);
  font-weight: bold;
}

p.red {
  color: var(--bright-red);
  font-weight: bold;
}

.status {
  padding-top: 0.5em;
}

.svgs {
  margin-top: 2.5rem;
}

.social-card:hover,
.stat-view:hover {
  transition: 0.3s;
  background-color: var(--light);
}

@media (max-width: 980px) {
  .overview {
    padding: 0 5rem;
  }
  .overview-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 780px) {
  .overview-card {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .overview {
    padding: 0 1.5rem;
    margin-bottom: 1.3rem;
  }
  .overview h1 {
    padding: 2rem 0;
  }

  .svgs {
    margin-top: 3.5rem;
  }
}

/* Light theme */
.light-theme {
  background: linear-gradient(
    to bottom,
    var(--very-pale-blue) 13%,
    var(--white) 13%
  );
  transition: 0.4s;
}

.light-theme .header {
  background-color: var(--light-grayish-blue);
}

.light-theme h1,
p {
  color: var(--very-dark-blue-text);
  transition: 0.2s;
}
.light-theme .Logo p {
  color: var(--very-dark-blue-text);
  transition: 0.2s;
}

.light-theme .profile p,
.light-theme .top-status p {
  color: #63687e;
}

.light-theme .followers p {
  font-weight: 300;
  opacity: 1;
  color: black;
}

.light-theme .social-card:hover,
.light-theme .stat-view:hover {
  background-color: var(--light-hover);
}
.light-theme .social-card,
.light-theme .stat-view {
  background: var(--light-grayish-blue);
  transition: 0.2s;
}
